@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #1473F7;
  --primary-color-darker: #005bd9;
  --primary-color-title:#58A6FF ;
  --gray-color: #8B949E;
  --disable-color:#484F58;
  --background-color: #0D1117;
  --border-color: #21262D;

}


body {
  margin: 0;
  background-color: var(--background-color);
}

button {
  border-radius: 4px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.4s;
}
button:hover {
  background-color: var(--primary-color-darker);
}


